header  {
    font-style: italic;
    font-size: 100px;
    
    text-align: center;
    text-decoration-color: purple;
    text-decoration: solid;

}
body  {background-color: lightblue;
    background-position: center;

}

h1 {
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    
}

li { font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left
    

}



    






    
    


    


            
  
        






    





